body {
    background-color: #f2f2f2;
    color: #0d0d0d;
    font-family: "Oswald",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 500;
}
.logo img {
    min-width: 135px;
    min-height: 85px;
    max-width: 214px;
    max-height: 135px;
}

h1 {
    font-size: 2em;
}

.main-head {
    display: flex;
    align-items: center;
    background-color: #bac5cf;
    color: #0d0d0d;
}

.searchbar {
    font-family: "Press Start 2P", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline-block;
}

.sub-head{
    display: flex;
    background-color: #1d2540;
    color: #0d0d0d;
}

.cta {
    background-color: #bac5cf;
    color: #0d0d0d;
}

.cta-main{
    font-size: 22px;
    font-weight: 400;
    padding: 0px;
    border: 5px solid #707070;
    border-radius: 12px;  
}

.cta-sub{
    font-size: 35px;
    padding: 0px;
    font-weight: 400;
    border: 5px solid #707070;
    border-radius: 12px 12px 0px 0px;
    
}

.cta-small {
    font-size: 32px;
    padding: 1.5px 17px;
    border: 2px solid #0d0d0d;
    border-radius: 5px;
    max-height: 50px;
}

.cta-large {
    width: 200px;
    height: 40px;
    font-size: 1.3em;
    border: 2px solid #707070 ;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin: auto;

}

.active {
    background-color: #030a8c;
    color: #f2f2f2;
}

.price {
    font-size: 2em;
}

.price-align {
    display: flex;
}

.price-align > * {
    flex: 1;
}

.something {
    display: flex;
    margin-top: 50px;
    gap: 10px;
}

footer {
    background-color: #1d2540;
    color: #f2f2f2;
    text-align: center;
}

.banner {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-home {
    background-image: url("../images/Banners/Banner\ Large.png");
}

.banner-playstation{ 
    background-image: url("../images/Banners/Playstation\ Banner.png");
}

.banner-xbox {
    background-image: url("../images/Banners/Xbox\ Banner.png");
}

.banner-nintendo {
    background-image: url("../images/Banners/Nintendo\ Banner.png");
}

.banner-pc {
    background-image: url("../images/Banners/PC\ Banner.png");
}

.banner-systems {
    background-image: url("../images/Banners/Systems\ Banner.png");
}

.gamehub-phrase {
    position: absolute;
    top: 332px;
    left: 464px;
}

.systems-content,
.best-sellers-content,
.critically-acclaimed-content {
    text-align: center;
    max-width: 1600px;
    margin: auto;
    display: flex;
}

.systems-content > *,
.best-sellers-content > *,
.critically-acclaimed-content > * {
    flex: 1;
}

.best-sellers-content,
.critically-acclaimed-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.game{
    display: flex;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.game h2 {
    text-align: left;
}
.game-site {
    display: flex;
    max-width: 1600px;
    margin: auto;
}

.game-site >* {
    flex: 1;
}


/*Links*/
a{
    text-decoration: none;
    color: #0d0d0d;
}


/*Contact Page*/
input, 
select, 
textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

textarea {
    height: 65%;
}

.contact{
    max-width: 1600px;
    margin: auto;
}


.form-wrapper{
    display: flex;
}

.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Deals */

.old-price {
    text-decoration: line-through 3px;
    font-size: 2em;
}

.sale {
    background: red;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    border: 2px solid #707070;
    margin: auto;
}
